In [1]:
import pandas as pd

# Data exploration

## Missing value counts

In [2]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

for chunk in chunk_iter:    
    missing_value_counts = chunk.isnull().sum()
    print(missing_value_counts)
    
    print('='*50)

company_permalink            0
company_name                 0
company_category_code       52
company_country_code         0
company_state_code          53
company_region               0
company_city                64
investor_permalink           0
investor_name                0
investor_category_code    2557
investor_country_code      778
investor_state_code       1371
investor_region              0
investor_city              900
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          653
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       51
company_country_code         0
company_state_code          43
company_region               0
company_city                45
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      261
investor_state_code        714
investor_region              0
investor_city              313
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          239
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       82
company_country_code         0
company_state_code          56
company_region               0
company_city                44
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      271
investor_state_code        808
investor_region              0
investor_city              314
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          221
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       57
company_country_code         0
company_state_code          36
company_region               0
company_city                44
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      239
investor_state_code        714
investor_region              0
investor_city              274
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          299
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       69
company_country_code         0
company_state_code          40
company_region               0
company_city                41
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      352
investor_state_code       1116
investor_region              0
investor_city              434
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          243
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       61
company_country_code         0
company_state_code          39
company_region               0
company_city                33
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      218
investor_state_code        732
investor_region              0
investor_city              238
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          206
dtype: int64
==================================================
company_permalink            1
company_name                 1
company_category_code       88
company_country_code         1
company_state_code          35
company_region               1
company_city                42
investor_permalink           2
investor_name                2
investor_category_code    5000
investor_country_code      313
investor_state_code        922
investor_region              2
investor_city              339
funding_round_type           3
funded_at                    3
funded_month                 3
funded_quarter               3
funded_year                  3
raised_amount_usd          287
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       83
company_country_code         0
company_state_code          65
company_region               0
company_city                55
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code      267
investor_state_code        775
investor_region              0
investor_city              334
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          368
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       75
company_country_code         0
company_state_code          50
company_region               0
company_city                50
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code     1432
investor_state_code       1787
investor_region              0
investor_city             1464
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          324
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       15
company_country_code         0
company_state_code          46
company_region               0
company_city                70
investor_permalink           0
investor_name                0
investor_category_code    5000
investor_country_code     5000
investor_state_code       5000
investor_region              0
investor_city             5000
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          469
dtype: int64
==================================================
company_permalink            0
company_name                 0
company_category_code       10
company_country_code         0
company_state_code          29
company_region               0
company_city                45
investor_permalink           0
investor_name                0
investor_category_code    2870
investor_country_code     2870
investor_state_code       2870
investor_region              0
investor_city             2870
funding_round_type           0
funded_at                    0
funded_month                 0
funded_quarter               0
funded_year                  0
raised_amount_usd          290
dtype: int64
==================================================

## Memory footprint

In [33]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

total_memory = 0
for chunk in chunk_iter:    
    memory_per_col = chunk.memory_usage(deep=True, index=False)
    chunk_memory = memory_per_col.sum()
    total_memory += chunk_memory
    
    print(memory_per_col/(1024*1024))
    print('\nChunk memory usage (MB) =', chunk_memory/(1024*1024))
    print('='*50)

print('Total memory usage across all chunks (MB) =', total_memory/(1024*1024))

company_permalink         0.365729
company_name              0.323832
company_category_code     0.308253
company_country_code      0.286102
company_state_code        0.279969
company_region            0.308153
company_city              0.315244
investor_permalink        0.406121
investor_name             0.340663
investor_category_code    0.228371
investor_country_code     0.265327
investor_state_code       0.246032
investor_region           0.306885
investor_city             0.286545
funding_round_type        0.305766
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.579118728637695
==================================================
company_permalink         0.367855
company_name              0.326042
company_category_code     0.309870
company_country_code      0.286102
company_state_code        0.280227
company_region            0.307571
company_city              0.316006
investor_permalink        0.470901
investor_name             0.356913
investor_category_code    0.038147
investor_country_code     0.279133
investor_state_code       0.262949
investor_region           0.304610
investor_city             0.306560
funding_round_type        0.309094
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.528106689453125
==================================================
company_permalink         0.368694
company_name              0.326862
company_category_code     0.309110
company_country_code      0.286102
company_state_code        0.279892
company_region            0.308001
company_city              0.315769
investor_permalink        0.472581
investor_name             0.360038
investor_category_code    0.038147
investor_country_code     0.278866
investor_state_code       0.260529
investor_region           0.308448
investor_city             0.306814
funding_round_type        0.308946
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.534924507141113
==================================================
company_permalink         0.366038
company_name              0.323645
company_category_code     0.309499
company_country_code      0.286102
company_state_code        0.280407
company_region            0.306838
company_city              0.316283
investor_permalink        0.471095
investor_name             0.360515
investor_category_code    0.038147
investor_country_code     0.279720
investor_state_code       0.262949
investor_region           0.305126
investor_city             0.306919
funding_round_type        0.308673
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.528082847595215
==================================================
company_permalink         0.367734
company_name              0.325837
company_category_code     0.309202
company_country_code      0.286102
company_state_code        0.280304
company_region            0.307420
company_city              0.316201
investor_permalink        0.476933
investor_name             0.363813
investor_category_code    0.038147
investor_country_code     0.276703
investor_state_code       0.252598
investor_region           0.306581
investor_city             0.301178
funding_round_type        0.309347
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.524227142333984
==================================================
company_permalink         0.368032
company_name              0.326351
company_category_code     0.309029
company_country_code      0.286102
company_state_code        0.280330
company_region            0.307725
company_city              0.315327
investor_permalink        0.482699
investor_name             0.367889
investor_category_code    0.038147
investor_country_code     0.280281
investor_state_code       0.262486
investor_region           0.306870
investor_city             0.306762
funding_round_type        0.309177
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.553332328796387
==================================================
company_permalink         0.369364
company_name              0.327144
company_category_code     0.308124
company_country_code      0.286079
company_state_code        0.280437
company_region            0.308759
company_city              0.315409
investor_permalink        0.475288
investor_name             0.361494
investor_category_code    0.038147
investor_country_code     0.277744
investor_state_code       0.257593
investor_region           0.308133
investor_city             0.302839
funding_round_type        0.308913
funded_at                 0.319381
funded_month              0.305084
funded_quarter            0.305084
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.53131103515625
==================================================
company_permalink         0.366815
company_name              0.324684
company_category_code     0.308154
company_country_code      0.286102
company_state_code        0.279660
company_region            0.307538
company_city              0.316297
investor_permalink        0.465276
investor_name             0.351143
investor_category_code    0.038147
investor_country_code     0.278973
investor_state_code       0.261378
investor_region           0.305524
investor_city             0.305149
funding_round_type        0.308567
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.509532928466797
==================================================
company_permalink         0.366132
company_name              0.324142
company_category_code     0.308373
company_country_code      0.286102
company_state_code        0.280046
company_region            0.307625
company_city              0.316609
investor_permalink        0.446994
investor_name             0.349985
investor_category_code    0.038147
investor_country_code     0.247864
investor_state_code       0.235320
investor_region           0.306422
investor_city             0.268620
funding_round_type        0.307501
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 5.396010398864746
==================================================
company_permalink         0.357983
company_name              0.315495
company_category_code     0.306975
company_country_code      0.286102
company_state_code        0.280149
company_region            0.307485
company_city              0.317743
investor_permalink        0.369493
investor_name             0.331256
investor_category_code    0.038147
investor_country_code     0.038147
investor_state_code       0.038147
investor_region           0.305176
investor_city             0.038147
funding_round_type        0.302800
funded_at                 0.319481
funded_month              0.305176
funded_quarter            0.305176
funded_year               0.038147
raised_amount_usd         0.038147
dtype: float64

Chunk memory usage (MB) = 4.639371871948242
==================================================
company_permalink         0.205433
company_name              0.180921
company_category_code     0.176030
company_country_code      0.164223
company_state_code        0.160739
company_region            0.176427
company_city              0.182624
investor_permalink        0.212440
investor_name             0.190561
investor_category_code    0.021896
investor_country_code     0.021896
investor_state_code       0.021896
investor_region           0.175171
investor_city             0.021896
funding_round_type        0.173919
funded_at                 0.183382
funded_month              0.175171
funded_quarter            0.175171
funded_year               0.021896
raised_amount_usd         0.021896
dtype: float64

Chunk memory usage (MB) = 2.663588523864746
==================================================
Total memory usage across all chunks (MB) = 56.9876070022583

## Column types

In [34]:
df = pd.read_csv('crunchbase-investments.csv', encoding='ISO-8859-1', low_memory=False)
print(df.info(verbose=True, memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 58.6 MB
None

From the results above, we can see that there are two numeric type columns: 
1. `funded_year` 
2. `raised_amount_usd` 

Let's take a look at the numeric columns.

## Numeric columns

In [41]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

numeric_cols = ['funded_year', 'raised_amount_usd']
for chunk in chunk_iter:
    print(chunk[numeric_cols].head(2))
    print(chunk[numeric_cols].dtypes)

    print('='*50)

   funded_year  raised_amount_usd
0         2012          2000000.0
1         2012            20000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
      funded_year  raised_amount_usd
5000         2008         25000000.0
5001         2008         20000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
10000         2009         37400000.0
10001         2009          6000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
15000         2011          3000000.0
15001         2011          5000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
20000         2010         15000000.0
20001         2010         14900000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
25000         2009         29000000.0
25001         2010          2000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
30000       2003.0           500000.0
30001       2012.0          3000000.0
funded_year          float64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
35000         2006         13000000.0
35001         2010         12000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
40000         2007          3500000.0
40001         2010          9000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
45000         2011          1000000.0
45001         2013          1600000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================
       funded_year  raised_amount_usd
50000         2012          3060000.0
50001         2007         12000000.0
funded_year            int64
raised_amount_usd    float64
dtype: object
==================================================

## Optimize numeric columns

From the results above, we can see that we should downcast both `funded_year` and `raised_amount_usd` to a more space efficient subtype - specifically, an integer subtype. Even though `raised_amount_usd` is currently a float column, the underlying data is best represented as integers.

Let's make those changes.

In [63]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

numeric_cols = ['funded_year', 'raised_amount_usd']
for chunk in chunk_iter:
    chunk[numeric_cols] = chunk[numeric_cols].fillna(-1).apply(pd.to_numeric, downcast='integer')
    
    print(chunk[numeric_cols].dtypes)
    print('='*50)

funded_year          int16
raised_amount_usd    int64
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int64
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================
funded_year          int16
raised_amount_usd    int32
dtype: object
==================================================

## String columns

In [76]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

for chunk in chunk_iter:
    string_types_df = chunk.select_dtypes(include='object')
    string_types = string_types_df.columns.values
    
    #print(string_types_df.nunique())
    #print(string_types_df.head(3))
    print(string_types)
    print(chunk[['funded_at', 'funded_month', 'funded_quarter']])
    #print(len(string_types))
    #print(chunk.dtypes)
    print('='*50)

['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_category_code' 'investor_country_code' 'investor_state_code'
 'investor_region' 'investor_city' 'funding_round_type' 'funded_at'
 'funded_month' 'funded_quarter']
       funded_at funded_month funded_quarter
0     2012-10-30      2012-10        2012-Q4
1     2012-01-23      2012-01        2012-Q1
2     2012-01-01      2012-01        2012-Q1
3     2012-02-15      2012-02        2012-Q1
4     2011-09-08      2011-09        2011-Q3
5     2012-02-01      2012-02        2012-Q1
6     2012-06-01      2012-06        2012-Q2
7     2012-08-07      2012-08        2012-Q3
8     2010-04-01      2010-04        2010-Q2
9     2011-09-01      2011-09        2011-Q3
10    2012-10-01      2012-10        2012-Q4
11    2010-10-28      2010-10        2010-Q4
12    2012-01-10      2012-01        2012-Q1
13    2010-05-01      2010-05        2010-Q2
14    2011-02-22      2011-02        2011-Q1
15    2010-08-18      2010-08        2010-Q3
16    2009-12-14      2009-12        2009-Q4
17    2010-07-15      2010-07        2010-Q3
18    2010-09-20      2010-09        2010-Q3
19    2010-12-21      2010-12        2010-Q4
20    2011-01-09      2011-01        2011-Q1
21    2007-11-27      2007-11        2007-Q4
22    2007-01-30      2007-01        2007-Q1
23    2013-05-14      2013-05        2013-Q2
24    2013-06-07      2013-06        2013-Q2
25    2013-07-31      2013-07        2013-Q3
26    2006-05-16      2006-05        2006-Q2
27    2007-10-23      2007-10        2007-Q4
28    2011-08-11      2011-08        2011-Q3
29    2013-09-12      2013-09        2013-Q3
...          ...          ...            ...
4970  2008-12-11      2008-12        2008-Q4
4971  2009-06-22      2009-06        2009-Q2
4972  2009-06-30      2009-06        2009-Q2
4973  2011-07-08      2011-07        2011-Q3
4974  2012-01-20      2012-01        2012-Q1
4975  2012-02-14      2012-02        2012-Q1
4976  2012-04-26      2012-04        2012-Q2
4977  2013-01-23      2013-01        2013-Q1
4978  2013-02-01      2013-02        2013-Q1
4979  2009-02-03      2009-02        2009-Q1
4980  2009-07-24      2009-07        2009-Q3
4981  2009-12-07      2009-12        2009-Q4
4982  2007-01-12      2007-01        2007-Q1
4983  2007-01-03      2007-01        2007-Q1
4984  2005-06-01      2005-06        2005-Q2
4985  2005-08-11      2005-08        2005-Q3
4986  2008-04-02      2008-04        2008-Q2
4987  2003-01-01      2003-01        2003-Q1
4988  2009-06-02      2009-06        2009-Q2
4989  2005-09-14      2005-09        2005-Q3
4990  2006-04-10      2006-04        2006-Q2
4991  2004-03-08      2004-03        2004-Q1
4992  2002-12-16      2002-12        2002-Q4
4993  2000-10-03      2000-10        2000-Q4
4994  2006-11-03      2006-11        2006-Q4
4995  2005-06-29      2005-06        2005-Q2
4996  2012-05-02      2012-05        2012-Q2
4997  2007-07-01      2007-07        2007-Q3
4998  2007-01-01      2007-01        2007-Q1
4999  2007-05-01      2007-05        2007-Q2

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
       funded_at funded_month funded_quarter
5000  2008-04-14      2008-04        2008-Q2
5001  2008-04-21      2008-04        2008-Q2
5002  2008-08-26      2008-08        2008-Q3
5003  2009-05-21      2009-05        2009-Q2
5004  2007-05-09      2007-05        2007-Q2
5005  2009-10-01      2009-10        2009-Q4
5006  2007-01-10      2007-01        2007-Q1
5007  2007-04-19      2007-04        2007-Q2
5008  2007-03-07      2007-03        2007-Q1
5009  2007-02-07      2007-02        2007-Q1
5010  2010-04-05      2010-04        2010-Q2
5011  2006-09-05      2006-09        2006-Q3
5012  2010-07-14      2010-07        2010-Q3
5013  2011-04-01      2011-04        2011-Q2
5014  2012-12-03      2012-12        2012-Q4
5015  2008-04-28      2008-04        2008-Q2
5016  2008-02-14      2008-02        2008-Q1
5017  2010-05-27      2010-05        2010-Q2
5018  2007-10-01      2007-10        2007-Q4
5019  2006-02-22      2006-02        2006-Q1
5020  2005-12-13      2005-12        2005-Q4
5021  2010-09-09      2010-09        2010-Q3
5022  2011-03-29      2011-03        2011-Q1
5023  2011-06-15      2011-06        2011-Q2
5024  2011-06-16      2011-06        2011-Q2
5025  2011-11-08      2011-11        2011-Q4
5026  2011-08-02      2011-08        2011-Q3
5027  2012-02-13      2012-02        2012-Q1
5028  2011-03-25      2011-03        2011-Q1
5029  2011-09-29      2011-09        2011-Q3
...          ...          ...            ...
9970  2009-10-30      2009-10        2009-Q4
9971  2006-09-06      2006-09        2006-Q3
9972  2005-02-08      2005-02        2005-Q1
9973  2005-08-22      2005-08        2005-Q3
9974  2013-05-08      2013-05        2013-Q2
9975  2013-09-22      2013-09        2013-Q3
9976  2005-09-12      2005-09        2005-Q3
9977  2013-02-14      2013-02        2013-Q1
9978  2008-12-18      2008-12        2008-Q4
9979  2008-10-01      2008-10        2008-Q4
9980  2013-05-15      2013-05        2013-Q2
9981  2011-02-03      2011-02        2011-Q1
9982  2011-05-10      2011-05        2011-Q2
9983  2008-11-07      2008-11        2008-Q4
9984  2013-06-12      2013-06        2013-Q2
9985  2006-12-18      2006-12        2006-Q4
9986  2005-01-10      2005-01        2005-Q1
9987  2006-05-01      2006-05        2006-Q2
9988  2007-05-01      2007-05        2007-Q2
9989  2010-07-20      2010-07        2010-Q3
9990  2011-05-24      2011-05        2011-Q2
9991  2011-09-07      2011-09        2011-Q3
9992  2011-10-17      2011-10        2011-Q4
9993  2012-06-05      2012-06        2012-Q2
9994  2012-11-19      2012-11        2012-Q4
9995  2013-03-29      2013-03        2013-Q1
9996  2013-06-25      2013-06        2013-Q2
9997  2007-09-01      2007-09        2007-Q3
9998  2006-06-01      2006-06        2006-Q2
9999  2009-01-23      2009-01        2009-Q1

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
        funded_at funded_month funded_quarter
10000  2009-02-05      2009-02        2009-Q1
10001  2009-07-27      2009-07        2009-Q3
10002  2007-02-07      2007-02        2007-Q1
10003  2007-06-13      2007-06        2007-Q2
10004  2011-06-06      2011-06        2011-Q2
10005  2012-02-29      2012-02        2012-Q1
10006  2010-10-27      2010-10        2010-Q4
10007  2010-10-08      2010-10        2010-Q4
10008  2007-01-01      2007-01        2007-Q1
10009  2010-01-19      2010-01        2010-Q1
10010  2013-09-11      2013-09        2013-Q3
10011  2006-09-07      2006-09        2006-Q3
10012  2005-03-21      2005-03        2005-Q1
10013  2009-12-10      2009-12        2009-Q4
10014  2009-09-15      2009-09        2009-Q3
10015  2004-12-01      2004-12        2004-Q4
10016  2005-03-08      2005-03        2005-Q1
10017  2009-09-15      2009-09        2009-Q3
10018  2009-10-01      2009-10        2009-Q4
10019  2007-04-18      2007-04        2007-Q2
10020  2006-03-15      2006-03        2006-Q1
10021  2010-02-17      2010-02        2010-Q1
10022  2011-01-10      2011-01        2011-Q1
10023  2005-01-11      2005-01        2005-Q1
10024  2010-10-26      2010-10        2010-Q4
10025  2010-11-16      2010-11        2010-Q4
10026  2011-01-25      2011-01        2011-Q1
10027  2011-07-14      2011-07        2011-Q3
10028  2011-08-16      2011-08        2011-Q3
10029  2011-08-24      2011-08        2011-Q3
...           ...          ...            ...
14970  2008-03-14      2008-03        2008-Q1
14971  2007-02-06      2007-02        2007-Q1
14972  2009-01-29      2009-01        2009-Q1
14973  2009-04-06      2009-04        2009-Q2
14974  2008-04-22      2008-04        2008-Q2
14975  2009-05-11      2009-05        2009-Q2
14976  2007-07-04      2007-07        2007-Q3
14977  2008-09-08      2008-09        2008-Q3
14978  2008-08-06      2008-08        2008-Q3
14979  2009-08-31      2009-08        2009-Q3
14980  2009-09-16      2009-09        2009-Q3
14981  2008-02-15      2008-02        2008-Q1
14982  2009-12-28      2009-12        2009-Q4
14983  2009-01-28      2009-01        2009-Q1
14984  2010-02-24      2010-02        2010-Q1
14985  2010-03-08      2010-03        2010-Q1
14986  2006-06-23      2006-06        2006-Q2
14987  2006-08-21      2006-08        2006-Q3
14988  2005-02-14      2005-02        2005-Q1
14989  2005-06-28      2005-06        2005-Q2
14990  2010-08-25      2010-08        2010-Q3
14991  2005-10-03      2005-10        2005-Q4
14992  2010-09-14      2010-09        2010-Q3
14993  2005-09-06      2005-09        2005-Q3
14994  2005-02-24      2005-02        2005-Q1
14995  2005-04-11      2005-04        2005-Q2
14996  2010-03-01      2010-03        2010-Q1
14997  2011-04-15      2011-04        2011-Q2
14998  2011-06-01      2011-06        2011-Q2
14999  2011-06-08      2011-06        2011-Q2

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
        funded_at funded_month funded_quarter
15000  2011-07-12      2011-07        2011-Q3
15001  2011-08-15      2011-08        2011-Q3
15002  2012-01-23      2012-01        2012-Q1
15003  2012-04-25      2012-04        2012-Q2
15004  2012-09-10      2012-09        2012-Q3
15005  2012-10-11      2012-10        2012-Q4
15006  2013-01-14      2013-01        2013-Q1
15007  2013-01-16      2013-01        2013-Q1
15008  2013-03-13      2013-03        2013-Q1
15009  2013-06-05      2013-06        2013-Q2
15010  2013-08-26      2013-08        2013-Q3
15011  2013-08-12      2013-08        2013-Q3
15012  2010-07-12      2010-07        2010-Q3
15013  2012-07-24      2012-07        2012-Q3
15014  2010-09-12      2010-09        2010-Q3
15015  2005-07-28      2005-07        2005-Q3
15016  2012-04-13      2012-04        2012-Q2
15017  2013-06-24      2013-06        2013-Q2
15018  2007-05-22      2007-05        2007-Q2
15019  2006-05-18      2006-05        2006-Q2
15020  2010-10-26      2010-10        2010-Q4
15021  2008-04-22      2008-04        2008-Q2
15022  2008-02-12      2008-02        2008-Q1
15023  2005-02-07      2005-02        2005-Q1
15024  2005-01-14      2005-01        2005-Q1
15025  2007-07-18      2007-07        2007-Q3
15026  2010-07-15      2010-07        2010-Q3
15027  2006-01-27      2006-01        2006-Q1
15028  2008-02-09      2008-02        2008-Q1
15029  2012-09-17      2012-09        2012-Q3
...           ...          ...            ...
19970  2011-05-04      2011-05        2011-Q2
19971  2011-05-16      2011-05        2011-Q2
19972  2011-06-16      2011-06        2011-Q2
19973  2011-07-12      2011-07        2011-Q3
19974  2011-08-01      2011-08        2011-Q3
19975  2011-08-01      2011-08        2011-Q3
19976  2011-11-03      2011-11        2011-Q4
19977  2011-08-17      2011-08        2011-Q3
19978  2011-08-01      2011-08        2011-Q3
19979  2012-01-25      2012-01        2012-Q1
19980  2012-03-20      2012-03        2012-Q1
19981  2012-03-21      2012-03        2012-Q1
19982  2012-03-19      2012-03        2012-Q1
19983  2012-05-15      2012-05        2012-Q2
19984  2012-03-01      2012-03        2012-Q1
19985  2012-08-22      2012-08        2012-Q3
19986  2012-09-20      2012-09        2012-Q3
19987  2012-10-22      2012-10        2012-Q4
19988  2010-06-01      2010-06        2010-Q2
19989  2013-02-01      2013-02        2013-Q1
19990  2012-10-01      2012-10        2012-Q4
19991  2013-02-21      2013-02        2013-Q1
19992  2012-05-01      2012-05        2012-Q2
19993  2013-05-05      2013-05        2013-Q2
19994  2013-07-25      2013-07        2013-Q3
19995  2013-09-26      2013-09        2013-Q3
19996  2013-08-01      2013-08        2013-Q3
19997  2007-11-11      2007-11        2007-Q4
19998  2010-01-01      2010-01        2010-Q1
19999  2011-03-07      2011-03        2011-Q1

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
        funded_at funded_month funded_quarter
20000  2010-09-08      2010-09        2010-Q3
20001  2010-09-24      2010-09        2010-Q3
20002  2007-06-01      2007-06        2007-Q2
20003  2008-01-01      2008-01        2008-Q1
20004  2008-01-14      2008-01        2008-Q1
20005  2010-07-13      2010-07        2010-Q3
20006  2011-03-03      2011-03        2011-Q1
20007  2012-07-17      2012-07        2012-Q3
20008  2010-09-21      2010-09        2010-Q3
20009  2012-07-09      2012-07        2012-Q3
20010  2013-01-08      2013-01        2013-Q1
20011  2008-12-01      2008-12        2008-Q4
20012  2012-09-04      2012-09        2012-Q3
20013  2013-09-30      2013-09        2013-Q3
20014  2009-03-26      2009-03        2009-Q1
20015  2009-07-28      2009-07        2009-Q3
20016  2011-01-25      2011-01        2011-Q1
20017  2011-12-05      2011-12        2011-Q4
20018  2012-02-29      2012-02        2012-Q1
20019  2012-07-09      2012-07        2012-Q3
20020  2013-06-26      2013-06        2013-Q2
20021  2008-06-03      2008-06        2008-Q2
20022  2009-07-07      2009-07        2009-Q3
20023  2010-01-07      2010-01        2010-Q1
20024  2007-10-24      2007-10        2007-Q4
20025  2007-06-07      2007-06        2007-Q2
20026  2010-08-10      2010-08        2010-Q3
20027  2011-09-27      2011-09        2011-Q3
20028  2012-01-05      2012-01        2012-Q1
20029  2012-01-20      2012-01        2012-Q1
...           ...          ...            ...
24970  2007-01-10      2007-01        2007-Q1
24971  2008-02-04      2008-02        2008-Q1
24972  2009-11-19      2009-11        2009-Q4
24973  2007-07-11      2007-07        2007-Q3
24974  2006-09-11      2006-09        2006-Q3
24975  2005-08-10      2005-08        2005-Q3
24976  2006-04-30      2006-04        2006-Q2
24977  2009-12-14      2009-12        2009-Q4
24978  2007-07-29      2007-07        2007-Q3
24979  2006-09-18      2006-09        2006-Q3
24980  2006-05-01      2006-05        2006-Q2
24981  2006-01-01      2006-01        2006-Q1
24982  2005-04-25      2005-04        2005-Q2
24983  2010-07-28      2010-07        2010-Q3
24984  2007-01-01      2007-01        2007-Q1
24985  2011-05-17      2011-05        2011-Q2
24986  2012-02-01      2012-02        2012-Q1
24987  2012-06-19      2012-06        2012-Q2
24988  2013-04-02      2013-04        2013-Q2
24989  2013-05-29      2013-05        2013-Q2
24990  2012-02-01      2012-02        2012-Q1
24991  2012-11-01      2012-11        2012-Q4
24992  2013-02-07      2013-02        2013-Q1
24993  2013-05-15      2013-05        2013-Q2
24994  2013-09-16      2013-09        2013-Q3
24995  2009-08-01      2009-08        2009-Q3
24996  2008-12-09      2008-12        2008-Q4
24997  2010-03-31      2010-03        2010-Q1
24998  2010-04-20      2010-04        2010-Q2
24999  2009-03-23      2009-03        2009-Q1

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
        funded_at funded_month funded_quarter
25000  2009-08-25      2009-08        2009-Q3
25001  2010-01-19      2010-01        2010-Q1
25002  2010-01-19      2010-01        2010-Q1
25003  2006-10-19      2006-10        2006-Q4
25004  2005-05-16      2005-05        2005-Q2
25005  2005-11-10      2005-11        2005-Q4
25006  2010-12-06      2010-12        2010-Q4
25007  2011-02-24      2011-02        2011-Q1
25008  2012-09-11      2012-09        2012-Q3
25009  2013-03-28      2013-03        2013-Q1
25010  2013-05-13      2013-05        2013-Q2
25011  2009-05-01      2009-05        2009-Q2
25012  2010-05-07      2010-05        2010-Q2
25013  2010-02-19      2010-02        2010-Q1
25014  2010-03-11      2010-03        2010-Q1
25015  2010-03-15      2010-03        2010-Q1
25016  2010-03-22      2010-03        2010-Q1
25017  2010-04-07      2010-04        2010-Q2
25018  2010-04-11      2010-04        2010-Q2
25019  2009-12-31      2009-12        2009-Q4
25020  2010-05-14      2010-05        2010-Q2
25021  2010-05-24      2010-05        2010-Q2
25022  2010-06-28      2010-06        2010-Q2
25023  2010-06-29      2010-06        2010-Q2
25024  2010-07-15      2010-07        2010-Q3
25025  2010-07-26      2010-07        2010-Q3
25026  2010-08-25      2010-08        2010-Q3
25027  2010-09-01      2010-09        2010-Q3
25028  2010-08-31      2010-08        2010-Q3
25029  2010-09-01      2010-09        2010-Q3
...           ...          ...            ...
29970  2013-08-20      2013-08        2013-Q3
29971  2013-09-05      2013-09        2013-Q3
29972  2013-09-12      2013-09        2013-Q3
29973  2010-04-20      2010-04        2010-Q2
29974  2012-02-08      2012-02        2012-Q1
29975  2009-03-10      2009-03        2009-Q1
29976  2011-10-26      2011-10        2011-Q4
29977  2008-10-27      2008-10        2008-Q4
29978  2008-05-13      2008-05        2008-Q2
29979  2007-05-24      2007-05        2007-Q2
29980  2010-01-11      2010-01        2010-Q1
29981  2010-01-04      2010-01        2010-Q1
29982  2013-07-30      2013-07        2013-Q3
29983  2006-03-23      2006-03        2006-Q1
29984  2005-07-15      2005-07        2005-Q3
29985  2011-01-26      2011-01        2011-Q1
29986  2011-04-13      2011-04        2011-Q2
29987  2011-06-08      2011-06        2011-Q2
29988  2011-12-12      2011-12        2011-Q4
29989  2012-01-10      2012-01        2012-Q1
29990  2012-01-26      2012-01        2012-Q1
29991  2012-02-10      2012-02        2012-Q1
29992  2012-02-14      2012-02        2012-Q1
29993  2012-06-25      2012-06        2012-Q2
29994  2013-02-04      2013-02        2013-Q1
29995  2013-06-25      2013-06        2013-Q2
29996  2013-07-22      2013-07        2013-Q3
29997  2010-12-27      2010-12        2010-Q4
29998  2012-08-02      2012-08        2012-Q3
29999  2013-02-22      2013-02        2013-Q1

[5000 rows x 3 columns]
==================================================
['company_permalink' 'company_name' 'company_category_code'
 'company_country_code' 'company_state_code' 'company_region'
 'company_city' 'investor_permalink' 'investor_name'
 'investor_country_code' 'investor_state_code' 'investor_region'
 'investor_city' 'funding_round_type' 'funded_at' 'funded_month'
 'funded_quarter']
        funded_at funded_month funded_quarter
30000  2003-01-01      2003-01        2003-Q1
30001  2012-07-30      2012-07        2012-Q3
30002  2013-04-11      2013-04        2013-Q2
30003  2007-07-01      2007-07        2007-Q3